<form
  action="/todos/{{todo.id}}?_method=PUT"
  method="POST"
  style="display: inline;"
>
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}> 
    </div>
      <input type="text" class="form-control" name="name" value="{{todo.name}}"> 
      <button class="btn btn-outline-success" type="submit">Save</button>
  </div>
</form>