<form action="/todos/new" method="POST" style="display: inline;">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Type something"
      name="name"
      value="{{todo.name}}"
    />
    <button class="btn btn-outline-success" type="submit">Create</button>
  </div>
</form>